<div class="page-container">
    <h1>{{ 'auth.reset-password.heading' | translate }}</h1>
    <div *ngIf="!token; else resetPasswordForm">
        <p>{{ 'auth.reset-password.instructions' | translate }}</p>
        <hr />
        <app-input [control]="emailInput"></app-input>
        <br />
        <app-loading-button
            [title]="'auth.reset-password.email.send' | translate"
            [icons]="['edit']"
            [newEvent]="requestingPasswordResetEmail"
            (click)="requestResetPasswordEmail()"
            type="outline-warning"
        >
            {{ 'auth.reset-password.email.send' | translate }}
        </app-loading-button>
        <hr />
        <small>{{ 'auth.reset-password.email.forgotten' | translate }}</small>
    </div>
    <ng-template #resetPasswordForm>
        <div
            *ngFor="
                let control of passwordForm.controls;
                trackBy: 'id' | trackByProperty
            "
            class="mb-3"
        >
            <app-input [control]="control"></app-input>
        </div>
        <app-loading-button
            [title]="'auth.reset-password.update' | translate"
            [icons]="['edit']"
            [newEvent]="requestingPasswordResetEmail"
            (click)="resetPassword()"
            type="outline-danger"
        >
            {{ 'auth.reset-password.update' | translate }}
        </app-loading-button>
    </ng-template>
</div>
