// Import styles for tui-editor
@import '~@toast-ui/editor/dist/toastui-editor.css';

@import 'scss/variables';

.required {
    color: $danger;
}

.toastui-editor-mode-switch {
    display: none !important;
}

.toastui-editor-defaultUI {
    border: none !important;
}

.toastui-editor-defaultUI {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.toastui-editor-contents {
    min-height: 40px !important;
}

.toastui-editor-contents {
    padding: 10px 10px !important;
}

// To fix placeholder class bein overwritten by bootstrap
.placeholder {
    background-color: $white !important;
}
