<h1>
    {{ 'shared.feature.display-pitch.title' | translate }}
</h1>
<ul class="">
    <li>
        {{ 'shared.feature.display-pitch.case-0' | translate }}
    </li>
    <li>
        {{ 'shared.feature.display-pitch.case-1' | translate }}
    </li>
    <li>
        {{ 'shared.feature.display-pitch.case-2' | translate }}
    </li>
    <li>
        {{ 'shared.feature.display-pitch.case-3' | translate }}
    </li>
    <li>
        {{ 'shared.feature.display-pitch.case-4' | translate }}
    </li>
</ul>
<br />
